---
export interface Props {
  title: string;
  description: string;
  link: string;
  linkText?: string;
}

const { title, description, link, linkText = "Learn More..." } = Astro.props;
---

<div class="bg-cards-blue p-6 rounded text-center text-white transition duration-300 transform hover:-translate-y-1 hover:shadow-lg hover:shadow-green-accent/20">
  <h3 class="text-letter-green text-xl font-semibold">{title}</h3>
  <p class="text-gray-300 mt-2">{description}</p>
  <a href={link} target="_blank" class="inline-block mt-4 text-letter-green underline font-bold">
    {linkText}
  </a>
</div>


