---
import Skyplane from '../assets/Skyplane.jpg';
---


<header
  class="text-center py-32 px-8 relative text-white overflow-hidden bg-cover bg-center"
  style={`background-image: url(${Skyplane.src});`}
>
  <div class="absolute inset-0 bg-black/40 z-0"></div>

  <h1 class="relative z-10 opacity-0 translate-y-5 animate-fadeUp text-4xl font-bold">
    Anything. Anywhere. On Time.
  </h1>

  <p class="relative z-10 opacity-0 translate-y-5 animate-fadeUp animation-delay-300 mt-4 max-w-xl mx-auto">
    From critical documents to remote onboarding kits, FDS delivers what matters—fast, secure, and carbon neutral.
  </p>

  <div class="relative z-10 opacity-0 translate-y-5 animate-fadeUp animation-delay-600 mt-8 flex flex-wrap justify-center gap-4">
    <a href="https://fdsworldwide.com" class="bg-primary-btn text-white px-6 py-3 rounded font-bold transition duration-300 hover:bg-green-600 hover:shadow-md hover:scale-105
">FDS Worldwide</a>
    <a href="https://RemoteReady.work" class="bg-primary-btn text-white px-6 py-3 rounded font-bold transition duration-300 hover:bg-green-600 hover:shadow-md hover:scale-105
">Remote Work Logistics</a>
    <a href="https://dublinairportcouriers.com" class="bg-primary-btn text-white px-6 py-3 rounded font-bold transition duration-300 hover:bg-green-600 hover:shadow-md hover:scale-105
">Dublin Airport Couriers</a>
  </div>
</header>

